.brands-section {
    margin: 100px;
}

.brands-section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.brands-section__logo {
    margin: 25px 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.brands-section__logo a {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin: 40px; 
}

.brands-section__logo svg {
    width: 125px; 
    height: 125px; 
    fill: #9d9d9d;
    transition: fill 0.5s ease;
}

.brands-section__logo svg:hover {
    fill: black;
}