.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 100;
}
/* Header Prompt Block */
.header__prompt {
    background-color: var(--black-text-color);
    color: var(--white-text-color);
    display: flex;
    align-items: center;
    height: auto;
    padding: 15px 35px;
    font-weight: 100;
    font-size: 14px;
}

.header__prompt svg {
    margin-right: 20px;
}

.prompt__nav {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.prompt__nav a {
    color: var(--white-text-color);
    margin-left: 45px;
    text-decoration: underline;
}

.prompt__nav a:last-child {
    margin-left: 5px;
}

.prompt__nav span {
    color: var(--white-text-color);
    margin-left: 30px;
}

/* Header User-Usage Container Block */
.header__user-usage {
    height: auto;
    background-color: var(--background-color);
}

.user-usage__container {
    padding: 13px 35px;
    display: flex;
    align-items: center;
}

.user-usage__title a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 38px;
}

.user-usage__search {
    border-radius: 25px;
    margin-left: 55px;
}

.user-usage__search input[type=search] {
    width: 287px;
    height: 43px;
    border-radius: 25px 0 0 25px;
    border: none;
    background-color: var(--background-color);
    padding: 6px 20px;
    margin-left: 50px;
}
 
::placeholder {
    color: var(--black-text-color);
    font-weight: 100;
    font-size: 14px;
}
 
.user-usage__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--search-button-color);
    color: var(--background-color);
    float: right;
    width: 76px;
    height: 43px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    border: none;
}

.user-usage__search input[type=search], 
.user-usage__search-button {
    margin: 0;
}

.user-usage__search input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%bl'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

.user-usage__search:hover {
    border: 1px solid var(--black-text-color);
}

.user-usage__search-button:hover {
    background-color: var(--black-text-color);
}

.user-usage__nav {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.user-usage__nav a {
    display: flex;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    color: var(--black-text-color);
    font-size: 17px;
}

.user-usage__nav a:hover {
    color: rgb(71 71 70);
}

.user-usage__nav svg {
    margin-right: 10px;
}

.nav-cart__count { 
    color: var(--black-text-color); 
    padding: 3px 0; 
    font-size: 14px; 
    font-weight: 500;
}

/* Header User-Usage Category Block */
.user-usage__category {
    padding: 13px 35px;
}

.user-usage__category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.user-usage__category li {
    margin-right: 40px;
    display: inline-block;
}

.dropdown {
    position: relative;
}

.drdbtn {
    display: block;
    color: var(--black-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    border: none;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drdbtn:hover,
.dropdown-content a:hover {
    color: var(--search-button-color);
}