<div class="best-sellers">
  <div class="best-sellers__title">
    <h2>Найпопулярніші товари</h2>
  </div>
  <div class="owl-carousel owl-theme">
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/MCSA039535_MFQ3555_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://stylus.ua/cdn-cgi/image/width=500,height=500,fit=pad,f=webp/gallery/90/6d/3126483.jpeg" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1800x1012/18144023_WQG241AEPL_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
    <div class="owl-carousel__item">
      <a href="#">
        <div class="owl-carousel__image">
          <span class="sale-badge">SALE</span>
          <img src="https://media3.bosch-home.com/Product_Shots/1200x674/13305668_SMS2ITW04E_STP_def.webp" alt="Bosch-Image" style="width: 220px; height: 220px;">
        </div>
        <div class="owl-carousel__text">
          <p class="product-name">Clothes Dryer Bosch WQG241AEPL</p>
          <span class="product-price">$660,00</span>
        </div>
      </a>
    </div>
  </div>
  <div class="view-all__button">
    <a href="#">Переглянути Всі</a>
  </div>
</div>

