<header class="header" id="header">
    <div class="header__prompt">
        <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.2 33.397 133.9 133.103" viewBox="33.2 33.397 133.9 133.103" height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-km3aq0q0 svg [data-color="1"] {fill: #FFFFFF;}</style></defs>
            <g>
                <path d="M165.7 61.6L137.2 49l-34.9-15.2c-1.3-.6-2.7-.5-3.9.1L71 46.8c-.5.1-1 .4-1.5.7L35.8 63.4c-.1.1-.2.1-.3.2-.1 0-.2.1-.2.1-.1 0-.1.1-.2.1l-.2.1c-.2.2-.4.3-.6.6l-.1.1c-.2.2-.3.4-.4.6 0 0-.1.1-.1.2-.1.2-.2.5-.3.7v.1c-.1.2-.1.4-.2.6v66.8c0 1.9 1.1 3.6 2.8 4.3l61.7 28.2h.1c.2.1.5.2.8.3h.2c.2 0 .5.1.7.1h.2c.3 0 .6 0 1-.1h.2c.3-.1.6-.2.8-.3.1 0 .1 0 .1-.1l62.6-30.8c1.6-.8 2.7-2.5 2.7-4.3V63.4c-.2-.8-.7-1.5-1.4-1.8zm-45.6 18.9L99.5 90.6l-50.3-23 23.1-10.9 47.8 23.8zm26.7-13.2c-1.1.5-2.2 1.1-3.2 1.5l-12.7 6.3-47.6-23.5 17.2-8.1L136.3 59c3.6 1.7 10 4.4 14.6 6.4-1.4.7-2.8 1.3-4.1 1.9zm-42.5 31.6l22.4-11 2 23c.2 2.5 2.3 4.4 4.8 4.4h.4c2.6-.2 4.6-2.6 4.3-5.2l-2.4-26.7 14.2-7c1.9-1 4.8-2.4 7.3-3.5V128l-53 26.1V98.9zm-9.5.1v55.4l-52.1-23.8V75.2L94.8 99z" fill="#ffffff" data-color="1"></path>
            </g>
        </svg>
        <p>Безкоштовна Доставка для замовлень онлайн</p>
        <div class="prompt__nav">
            <a href="#">Про Нас</a>
            <a href="#">Контакти</a>
            <a href="#">Центр Допомоги</a>
            <span>Зателефонуйте нам</span>
            <a href="tel:0968434795">096-843-4795</a>
        </div>        
    </div>
    <div class="header__user-usage">
        <div class="user-usage__container">
            <p class="user-usage__title">
                <a href="/index.html">VikoTech</a>
            </p>
            <div class="user-usage__search">
                <form action="#">
                    <input type="search" placeholder="Пошук..." name="search">
                    <button class="user-usage__search-button">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" fill="currentColor" viewBox="0 0 30 30">
                            <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z">
                        </svg>
                    </button>
                </form>
            </div>
            <div class="user-usage__nav">
                <a href="#" class="user-usage__nav-login">
                    <svg width="28px" height="28px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                        <circle cx="512" cy="512" r="512" style="fill:#000000"/> 
                        <path d="M599.2 502.8c61.5-48.4 72.1-137.4 23.7-198.9S485.5 231.8 424 280.2 352 417.5 400.3 479c6.9 8.8 14.9 16.8 23.7 23.7-80.8 32.4-137.2 106.6-146.8 193.1-1.4 13 8 24.8 21 26.2 13 1.4 24.8-8 26.2-21C336 597.4 429.5 522.8 533.1 534.4c87.6 9.8 156.7 79 166.6 166.6 1.3 12 11.5 21.1 23.6 21h2.6c12.9-1.5 22.2-13.1 20.8-26-9.6-86.7-66.3-161-147.5-193.2zM511.6 486c-52.1 0-94.4-42.3-94.4-94.4s42.3-94.4 94.4-94.4 94.4 42.3 94.4 94.4-42.2 94.4-94.4 94.4z" style="fill:#fff"/>
                        </svg>
                    Увійти
                </a>
                <a href="#" class="user-usage__nav-favourite">
                    <svg fill="#000000" height="28px" width="28px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                        <path d="M256,0C114.837,0,0,114.843,0,256s114.837,256,256,256s256-114.843,256-256S397.163,0,256,0z M381.804,281.636l-114,114.011c-3.131,3.131-7.381,4.892-11.804,4.892c-4.423,0-8.674-1.761-11.804-4.892l-114-114.017c-15.772-15.755-24.457-36.723-24.457-59.021s8.685-43.266,24.457-59.027c15.75-15.761,36.706-24.451,59.021-24.451c22.315,0,43.272,8.691,59.032,24.462l7.75,7.745l7.761-7.756c15.75-15.761,36.706-24.451,59.021-24.451s43.272,8.691,59.032,24.462c15.761,15.75,24.446,36.717,24.446,59.016S397.576,265.875,381.804,281.636z"/>
                    </svg>
                    Улюблені
                </a>
                <a href="#" class="user-usage__nav-cart">
                    <svg fill="#000000" width="32px" height="32px" viewBox="-1 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
                        <path d="M16.417 9.579A7.917 7.917 0 1 1 8.5 1.662a7.917 7.917 0 0 1 7.917 7.917zm-3.34-2.323a.63.63 0 0 0-.628-.628H5.892l-.436-1a.384.384 0 0 0-.351-.23H3.68a.384.384 0 1 0 0 .768h1.173l1.785 4.096a.37.37 0 0 0-.087-.01 1.161 1.161 0 1 0 0 2.322h.042a.792.792 0 1 0 .864 0h3.452a.792.792 0 1 0 .864 0h.565a.384.384 0 1 0 0-.767H6.55a.393.393 0 0 1 0-.787.38.38 0 0 0 .098-.013l5.803-.602a.714.714 0 0 0 .625-.694z"/>
                    </svg>
                    <span class="nav-cart__count">0</span>
                </a>
            </div>
        </div>
        <div class="user-usage__category">
            <ul>
                <li><a href="#" class="drdbtn">Усі Товари</a></li>
                <li>
                    <div class="dropdown">
                        <button class="drdbtn">Побутова Техніка</button>
                        <div class="dropdown-content">
                            <a href="/category/household_appliances/washers.html">Пральні машини</a>
                            <a href="#">Сушильні машини</a>
                            <a href="#">Морозильні камери</a>
                            <a href="#">Плити</a>
                            <a href="#">Холодильники</a>
                            <a href="#">Посудомийні машини</a>
                        </div>
                    </div>
                </li>
                <li><a href="#" class="drdbtn">Телевізори</a></li>
                <li>
                    <div class="dropdown">
                        <button class="drdbtn">Вбудована техніка</button>
                        <div class="dropdown-content">
                            <a href="/category/built-in_appliances/wine_coolers.html">Винні шафи</a>
                            <a href="/category/built-in_appliances/hoods.html">Витяжки</a>
                            <a href="/category/built-in_appliances/ovens.html">Духові шафи</a>
                            <a href="/category/built-in_appliances/microwaves.html">Мікрохвильові печі</a>
                            <a href="#">Варильні поверхні</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="drdbtn">Дрібна побутова техніка</button>
                        <div class="dropdown-content">
                            <a href="/category/small_appliances/blenders.html">Блендери</a>
                            <a href="/category/small_appliances/grills.html">Електрогрилі</a>
                            <a href="/category/small_appliances/coffee_machines.html">Кавові машини</a>
                            <a href="#">Міксери</a>
                            <a href="#">М'ясорубки</a>
                            <a href="#">Порохотяги</a>
                            <a href="#">Праски</a>
                            <a href="#">Чайники</a>
                        </div>
                    </div>
                </li>
                <li><a href="#" class="drdbtn">Аксесуари</a></li>
                <li><a href="#" class="drdbtn">Розпродаж</a></li>
            </ul>            
        </div>
    </div>
</header>