<div class="left-banner">
    <div class="left-banner__image">
        <img src="img/index/left-banner.jpeg" alt="left-banner">
        <svg preserveAspectRatio="none" data-bbox="82.1 22.8 35.8 154.4" viewBox="82.1 22.8 35.8 154.4" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true">
            <g>
                <path d="M112.8 177.2h5.1V22.8H82.1l30.7 154.4z"></path>
            </g>
        </svg>
        <div class="image__label">
            <span>Найкраща Ціна</span>
        </div>
    </div>
    <div class="left-banner__text">
        <p style="line-height: 1.2;">Знижки до</p>
        <p >$150</p>
        <p style="line-height: 1.2;">на побутову техніку
            <br>та електроніку
        </p>
        <p style="margin-top: 10px;">Якість гарантована</p>
        <a href="#">
            Придбати
        </a>
    </div>
</div>