<div class="header__main">
    <div class="header__main-image fade" style="background-image: url('img/index/header-main-1.jpeg');"></div>
    <div class="header__main-image fade" style="background-image: url('img/index/header-main-2.jpeg');"></div>
    <div class="header__main-image fade" style="background-image: url('img/index/header-main-3.jpeg');"></div>
    <div class="header__main-text">
        <span>Найкращі Ціни</span>
        <h1>
            Дивовижні ціни
            <br>на ваші 
            <br>улюблені товари
        </h1>
        <p>Більше за менше - на обраних брендах</p>
        <a href="#">Придбати</a>
    </div>
</div>