<div class="newsletter-section">
    <h2 class="newsletter-section__title">Розсилка</h2>
    <p>Зареєструйтесь, щоб отримувати оновлення про нові надходження та спеціальні пропозиції</p>
    <form action="/subscribe" method="post" class="newsletter-form">
        <label for="email">Електронна пошта*</label>
        <div class="form-input">
            <input type="email" id="email" name="email" placeholder="Ваша Електронна пошта Тут" required />
            <button type="submit">Підписатись</button>
        </div>
    </form>
</div>