<div class="right-banner">
    <div class="right-banner__text">
        <span class="today-special">Спеціальна пропозиція</span>
        <p style="margin-top: 20px;">Топ асортимент в місті</p>
        <p>Знижка <span>30%</span></p>
        <p>на побутову техніку</p>
        <p style="margin-top: 20px;">Обмежена кількість
            <br>Перегляньте товари для деталей про наявність</p>
        <a href="#">
            Придбати
        </a>
    </div>
    <div class="right-banner__image">
        <img src="img/index/right-banner.jpeg" alt="right-banner">
        <svg preserveAspectRatio="none" data-bbox="82.1 22.8 35.8 154.4" viewBox="82.1 22.8 35.8 154.4" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true">
            <g>
                <path d="M112.8 177.2h5.1V22.8H82.1l30.7 154.4z"></path>
            </g>
        </svg>
    </div>
</div>